<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div>
    <div class="jumbotron">
        <h4>Famous Quotes</h4>
    </div>
    <div>
    <h1>Welcome, {{logInUser.userName}}!</h1>
    <h2>To</h2>
    <h1>Famous Quotes</h1>
</div>
    <a href="logout" class="btn btn-info" role="button"  type="submit" >logout</a>
    <a href="dashboard" class="btn btn-info" role="button"  type="submit" >Continue to Dash</a>
</div>
</body>
</html>